.photo-grid {
  display: grid;
  margin: 0 auto 92px;
  max-width: calc(100% - 96px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media (min-width: 901px) and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 88px;
  }
}

@media (max-width: 600px) {
  .photo-grid {
    grid-template-columns: 1fr;
    max-width: calc(100% - 32px);
    grid-gap: 12px;
    margin-bottom: 64px;
  }
}
