.footer {
  max-width: 1184px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 901px) and (max-width: 1200px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 600px) {
  .footer {
    max-width: calc(100% - 32px);
    flex-direction: column;
  }
}
