.place__url-heading {
    margin: 0;
    margin-bottom: 12px;
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.166em;
}

@media (min-width: 321px) and (max-width: 768px) {
    .place__url-heading {
        line-height: 1;
    }
}

@media (max-width: 320px) {
    .place__url-heading {
        line-height: 1;
        max-width: 288px;
        
        
    }
}